#set( $symbol_pound = '#' ) 
#set( $symbol_dollar = '$' ) 
#set( $symbol_escape = '\' )
<h1>
	Demo table page
</h1>
<div class="row" style="padding-top: 15px">
    <div class="col-lg-8">
        <h3 style="margin-top: 0">Demo Table</h3>
    </div>

    <div class="col-lg-4">
        <form class="form-inline filters pull-right">
            <div class="form-group horizontal-spacer">
                <button uib-tooltip="Add demo"
                ng-click="createDemo()" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
            <div wm-grid-menu refresh-action="refreshDemos" rows-on-page="colRowsOnPage" view-rows-on-page="viewRowsOnPage" headers="gridHeaders"></div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table st-table="demos" st-pipe="getDemos" st-safe-src="demos"
               class="table table-striped table-hover">
            <colgroup>
                <col ng-show="isShowColumn(0)" class="col-md-1">
                <col ng-show="isShowColumn(1)" class="col-md-2">
                <col ng-show="isShowColumn(2)" class="col-md-1">
                <col ng-show="isShowColumn(3)" class="col-md-1">
                <col ng-show="isShowColumn(4)" class="col-md-1">
                <col class="col-md-1">
            </colgroup>

            <thead>
            <tr>
                <th class="grid-header" wm-st-sort="{{!header.disableSort ? header.id : ''}}" ng-show="isShowColumn($index)"
                    ng-repeat="header in gridHeaders">
                    {{header.label}}
                </th>
            </tr>
            </thead>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="{{gridHeaders.length + 1}}" class="text-center"><wm-loader></wm-loader></td>
            </tr>
            </tbody>
            <tbody>
            <tr ng-repeat="row in demos">
                <td ng-show="isShowColumn(0)">{{getIndex($index)}}</td>
                <td ng-show="isShowColumn(1)">{{row.name}}</td>
                <td ng-show="isShowColumn(2)">{{row.flag}}</td>
                <td ng-show="isShowColumn(3)">{{row.duration}}</td>
                <td ng-show="isShowColumn(4)">{{row.cost}}</td>
                <td>
                    <div class="pull-right">
                    	<button type="button" ng-click="editDemo(row.id)"
                    			uib-tooltip="Create demo" class="btn btn-xs btn-warning">
                    		<span class="glyphicon glyphicon-pencil"></span>
						</button>
                        <button wm-tooltip="Delete demo" type="button" 
                        		action="removeDemo(row.id)" wm-confirm-click="Are you shure?"
                                class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" colspan="{{gridHeaders.length + 1}}">
                    <div wm-grid-pagination rows-on-page="colRowsOnPage"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>